:root {
    --orange: #ff9400;
    --dark: #222;
    --muted: #666;
    --bg: #f6f6f6;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial;
    color: var(--dark);
    margin: 0;
    background: var(--bg);
}

.container {
    margin: 0 100px;
}

.container .logo{
    width: 50px;
    height: 50px;
}

.container .logo img{
    width: 100%;
    height: 100%;
}

.announce {
    margin: 10px;
    border-radius: 6px;
    background: var(--orange);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
}

.site-header {
    background: var(--bg);
    border-bottom: 1px solid #eaeaea;
}

.header-inner {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 18px 0;
}

.logo {
    font-weight: 700;
    color: var(--orange);
    text-decoration: none;
    font-size: 20px;
}

.main-nav {
    margin-left: 20px;
    display: flex;
    gap: 18px;
    font-weight: bold;
}

.main-nav a {
    color: var(--muted);
    text-decoration: none;
    padding: 6px 8px;
}

.auth {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.btn {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.btn.ghost {
    border: 1px solid #ddd;
    color: var(--muted);
    background: transparent;
}

.btn.primary {
    background: var(--orange);
    color: #fff;
}

.btn.menu{
    display: none;
}

.hero {
    padding: 48px 0;
    background: var(--bg);
    border-bottom: 1px solid #eee;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.hero-left h1 {
    font-size: 36px;
    margin: 0 0 16px;
}

.lead {
    color: var(--muted);
    line-height: 1.6;
}

.side {
    color: var(--muted);
}

.features {
    display: flex;
    gap: 20px;
    padding: 40px 0;
}

.feature {
    background: var(--bg);
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    border: 1px solid #eee;
}

.feature h3 {
    margin-top: 0;
}

/* Courses section */
.courses{
    margin-top: 50px;
    padding: 40px 50px;
    background: #ffffff;
    border-radius: 10px;
}

.courses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 30px;
}

.courses-header .ghost{
    padding: 16px ;
}


.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.course-card {
    background: var(--bg);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #eee;
    height: 422px;
}

.course-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Badges and curriculum */
.badge {
    display: inline-block;
    padding: 6px 10px;
    margin-right: 8px;
    background-color: #ffffff;
    border: 1px solid #eee;
    font-weight: 600;
    color: var(--muted);
    border-radius: 8px;
}

.course-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.course-meta .author {
    color: var(--dark);
    font-weight: 600;
}

.curriculum {
    margin-top: 18px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
}

.curriculum .curr-content{
    border-bottom: #f0f0f0 solid 1px;
}

.curriculum h3 {
    margin: 0;
    padding: 18px;
}

.curr-list {
    display: flex;
    gap: 18px;
    padding: 12px;
    overflow: hidden;
}

.curr-item {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 18px 40px;
    border-left: 1px solid #f0f0f0;
}

.curr-item .num{
    font-size: 46px;
}


.curr-item:first-child {
    border-left: 0;
}

.num {
    color: var(--dark);
    font-size: 28px;
    font-weight: 800;
}

.curr-title {
    font-weight: 600;
}
/* footer */
.site-footer {
    margin-top: 150px;
    background: #ffffff;
    width: 100%;
    height: 472px;
}

.footer-inner {
    padding: 100px 150px 60px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-logo{
    width: 50px;
    height: 50px;
}

.contact-info{
    list-style: none;
    padding: 0;
    line-height: 1.8;
    font-weight: 600;
    font-size: 18px;
}

.contact-info a{
    color: #000000;
    text-decoration: none;
    white-space: nowrap ;
}

.contact-info span{
    font-size: 26px;
    margin-right: 10px;
}

.footer-right{
    display: flex;
    gap: 40px;
    justify-content: space-around;
}

.footer-nav {
    list-style: none;
    padding: 0;
    line-height: 1.8;
    font-size: 18px;
}

.footer-nav a{
    text-decoration: none;
    color: #666;
    white-space: nowrap;
}

.social-nav{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.social-nav li{
    background-color: #F1F1F3;
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.social-nav li a{
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    color: #000000;
}

.site-footer::after {
    content: "© 2023 Skillbridge. All rights reserved.";
    text-align: center;
    font-size: 16px;
    display: block;
    padding-top: 38px;
    border-top: 1px solid var(--bg);
}


/* Tablet */
@media (max-width:1025px){
.container {
    margin: 0 50px;
}
.course-card{
    height: 300px;
}
.curr-list{
    padding: 12px 0;
}
.curr-item{
    padding: 18px 28px;
}
.footer-inner{
    padding: 100px 50px 60px 50px;
    display: grid;
    grid-template-columns: 2fr 3fr;
}
}

/* Mobile */ 
@media (max-width: 640px) {
.announce{
    margin: 0 12px;
} 
.lead{
    padding-bottom: 20px;
    border-bottom: 1px solid #d7d7d7;
}
.btn.menu{
    display: inline-block;
    font-size: 30px;
}
.header-inner{
    gap: 0px;
}
.container {
    margin: 0 12px;
}
.main-nav{
    display: none;
}
.hero-grid{
    display: block;
}
.courses{
    border-radius: 16px;
    padding: 10px 28px;
}
.courses-header{
    display: block;
}
.course-card{
    height: 100px;
}
.course-meta{
    display: block;
}
.course-meta .author{
    margin-top: 20px;
}
.curr-list{
    display: block;
    padding: 0;
}
.curr-item{
    border-left: none;
    padding: 18px;
    border-bottom: 1px solid var(--bg);
}
.site-footer{
    height: auto;
}
.footer-inner{
    padding: 40px 20px;
    display: block;
}
.footer-right{
    justify-content: left;
    flex-wrap: wrap;
}
.footer-social{
    margin-top: -30px;
}
.site-footer::after{
    padding: 20px;
}
}


